<h3>Request View</h3>
<div>
  <p>Name: {{request.name}}</p>
  <p>State: <b>{{request.state}}</b></p>
  <p>Description: {{request.description}}</p>
</div>
<div *appCanAccess="[request.state, 'reset']">
  <button (click)="reset()">Reset request</button>
</div>

<app-submit-request [request]="request" (requestSubmitted)="updateRequest($event)"></app-submit-request>
<app-send-to-client [request]="request" (sendToClientEvent)="updateRequest($event)"></app-send-to-client>
<app-approve-reject-solution [request]="request" (clientApprovalEvent)="updateRequest($event)"></app-approve-reject-solution>
<hr>
